h2 {
  font-family: 'Ink Free', sans-serif;
  font-size: 50px;
  color: #133e39;
}

div.topnav {
    max-width: 60%;
    background-color: #daefe2;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin:auto;
}

div.backgroundhome {
  background-image: url("images/homepagecolor2 just background9.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  margin: auto;
  width: 60%;
  position: relative;
}

img#sakura {
  position: absolute;
  right: 0px;
  top: 20px;
}

img#sunsetcar {
  position: absolute;
  left: 0px;
  bottom: 20px;
}

div.greenbox1 {
  width: 70%;
  height: 6px;
  background-color: #a2c8ac;
  position: absolute;
  top: 870px;
  left: 240px;
}

div.greenbox2 {
  width: 70%;
  height: 6px;
  background-color: #a2c8ac;
  position: absolute;
  top: 1500px;
  left: 240px;
}

footer {
  background-color: #133e39;
  text-align: center;
  padding: 10px;
  color: white;
}
a:hover {
background-color: #daefe2;
}

a {
  color: white;
}

body {
  background-color: #daefe2;
}

div.textbox {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 260px;
  font-family:'Dosis';
  font-size: 22px;
}

div.normaltextbox {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 900px;
  left: 200px;
  font-family:'Dosis';
  font-size: 22px;

}


div.images {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 200px;
}


}
img#baby {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.stackedimages {
  position: relative;
  top: 700px;
  left: 800px;
  background-color: #daefe2;
  height: 500px;
  width: 500px;
}

img#jessie {
  position: absolute;
  top: 50%; left: 20%;
  height: 230px;
  width: 200px;
  z-index: 10;
}

img#hannah {
  position: absolute;
  right: 15%; top: 30%;
  height: 250px;
  width: 190px;
  z-index: 5;
}

img#nslc {
  position: absolute;
  left: 10%; top: 10%;
  height: 220px;
  width: 300px;
  z-index: 0;
}
